.App {
}

#covered-text {
  display: inline-block;
  text-shadow: 0 0 0 #333;
  background-color: #333;
  color: #333;
}

.cover-button {
  height: 30px;
  width: 100px;
}

h6 {
  font-size: 16px;
  white-space: pre;
  border: 2px solid #000000;
  border-radius: 20%;
  padding: 30px;
  height: 300px;
}

h3 {
  font-size: 20px;
  white-space: pre;
  height: 200px;
  width: 600px;
  display: inline-block;
}

textarea {
  height: 300px;
  width: 600px;
  margin: 20px 0 10px 0;
  text-align: center;
  resize: none;
  outline: none;
  font-size: 24px;
}

button {
  height: 30px;
  width: 100px;
}

textarea::placeholder {
  font-size: 24px;
}

.grey-text {
  opacity: 0.5;
}

a {
  color: #004a7c;
}

a:hover {
  color: #081e34;
}

a:visited {
  color: #081e34;
}
