.Inter-500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #005691;
}
.white {
  color: #fafafa;
}

.header-poem-page {
  padding: 23px 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #005691;
  border-bottom: 1px solid #82c3ec;
}

.Inter-400 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #005691;
}

.courier {
  font-family: "Courier Prime", sans-serif;
  font-weight: 700;
  color: #005691;
}

.courier-white {
  font-family: "Courier Prime", sans-serif;
  font-weight: 700;
  color: #fafafa;
}

.header-name {
  font-size: 32px;
  line-height: 36px;
  background-color: transparent;
  border-radius: 2px;
  width: fit-content;
}

header {
  padding: 24px 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #005691;
  border-bottom: 1px solid #82c3ec;
}

.nav-btns {
  gap: 32px;
}

.nav-btn {
  background-color: transparent;
}

#instructions {
  padding: 260px 30% 260px 5%;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #005691;
}

.title-text {
  font-family: "Courier Prime", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #005691;
}

#yourpoem {
  /* height: 100vh; */
  padding-top: 100px;
}

textarea {
  width: 600px;
  text-align: center;
  resize: none;
  outline: transparent;
  font-size: 16px;
  border: 2px solid #005691;
  border-radius: 10px;
  background-color: #ffffff;
  min-height: 500px;
  height: inherit;
  margin-bottom: 20px;
  padding: 10px;
}

textarea::placeholder {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #005691;
  opacity: 0.5;
}

h6 {
  font-size: 16px;
  white-space: pre;
  background-color: #005691;
  border-radius: 8px;
  padding: 40px;
  width: 500px;
  height: 100px;
  font-family: "Courier Prime", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fafafa;
}

h6:hover {
  color: #005691;
  box-shadow: inset 0 0 0 50px #82c3ec;
}

h3 {
  font-size: 20px;
  white-space: pre;
  height: 200px;
  width: 600px;
  display: inline-block;
}

.next-page-button {
  width: 200px;
  height: 56px;
  background: #005691;
  color: #fafafa;
  border-radius: 8px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.next-page-button:hover {
  color: #005691;
  box-shadow: inset 0 0 0 50px #82c3ec;
}

#examples {
  padding: 200px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  column-gap: 30px;
  justify-items: betwee;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #005691;
}

.example-poems {
  gap: 50px;
}

.grey-text {
  opacity: 0.5;
}

a {
  color: #005691;
}

a:hover {
  color: #081e34;
}

a:visited {
  color: #081e34;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.cover-buttons {
  gap: 30px;
}

.cover-button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background: #fafafa;
  color: #005691;
  /* border-radius: 8px; */
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

footer {
  padding: 24px 5%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #82c3ec;
  margin-top: auto;
}

.buttons {
  display: flex;
  gap: 20px;
}

.contact-btn {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: transparent;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
  transform: scale(1.5);
}

.btn-img {
  height: 25px;
  width: 25px;
}

.body {
  min-height: 100vh;
}

.back-button {
  width: 100px;
  height: 40px;
  background: transparent;
  color: #fafafa;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.hidden-button {
  background-color: transparent;
  width: 125px;
  height: 40px;
}

.poem-text {
  padding: 150px 5% 50px 5%;
  text-align: center;
}

.symbol-overlay {
  position: relative;
}

.symbol-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005691;
}
